div {
  margin: 1em;
  border-radius: 0.25em;
  border: solid;
}

h1 {
  margin: 0;
  border-bottom: solid;
}

ul {
  margin: 0;
  ;
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;
  white-space: nowrap;
}

li+li {
  padding: 1em 2em 1em 3em;
}

li {
  padding: 1em 2em;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

li:hover,
li:hover+li:before,
li.active,
li.active+li:before {
  background: lightblue;
}

li:hover:before,
li.active:before {
  background: white;
}

li:last-child:after,
li+li:before {
  content: '';
  position: absolute;
  top: -0.2em;
  bottom: 0;
  border-right: solid;
  border-top: solid;
  pointer-events: none;
  box-sizing: border-box;
  box-shadow: 3px -3px 6px -3px gray;/* a shadow effect can be added too */
  width: 3em;
  transform: rotate(30deg) skewy(30deg);
  z-index: 1;
}

li:last-child:after {
  right: -1.5em;
  background: inherit;
}

li+li:before {
  left: -2em;
}