.btech-sections .sections-header {
  text-align: center;
}
.btech-sections .btech-sections-header span {
  position: relative; 
  top: -40px; 
  padding: 5px 15px;
  background-color: var(--btech-theme-header-background-color);
  color: var(--btech-theme-header-color);
}