.collaborator-menu-header {
  text-transform: capitalize;
  text-align: left;
  margin-left: 10px;
}
#canvas-collaborator-container {
  z-index: 1000000;
  background-color: #EEE;
  border-left: 2px solid #888;
  color: #000;
  height: 100%;
  top: 0;
  position: fixed;
  display: block; 
  top: 0; 
  right: 0; 
  width: 300px;
}
#vue-app {
  z-index: 1000000;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.canvas-collaborator-menu-item {
  box-sizing: border-box;
  padding: 10px;
  background-color: #FFF;
  display: inline-block;
  width: 100%;
  cursor: pointer; 
  user-select: none;
  margin: 3px;
  box-shadow: 2px 2px 1px #888;
}
.canvas-collaborator-menu-item-project {
  padding-left: 0px;
  border-left: 10px solid #49E;
}
.canvas-collaborator-menu-item-todo {
  margin-left: 10px;
  padding-left: 0px;
  border-left: 10px solid #49E;
  width: calc(100% - 10px);
}
.canvas-collaborator-menu-item-new {
  background-color: #49E;
  color: #FFF;
  padding-top: 2px;
  padding-bottom: 2px;
}
.color-test-just-for-me-really-do-not-use-this {
  color: #49E;
}
.canvas-collaborator-menu-item-new-comment {
  margin-left: 20px;
  width: calc(100% - 20px);
}
.canvas-collaborator-menu-item-comment {
  background-color: #FFF;
  color: #000;
  margin-left: 20px;
  width: calc(100% - 20px);
  user-select: text;
  cursor: text; 
}
.canvas-collaborator-menu-item i {
  color: #777;
  padding-right: 5px;
  cursor: pointer;
}
.canvas-collaborator-menu-item i:hover {
  color: #000;
  padding-right: 5px;
}
.canvas-collaborator-menu-item-new i {
  color: #FFF;
}
.canvas-collaborator-menu-item-new i:hover {
  color: #FFF;
}
.canvas-collaborator-menu-item-comment i:hover {
  color: #000;
}
.canvas-collaborator-menu-item-assigned {
  border-left: 10px solid #E44;
}
project-menu {
  background-color: #444;
  width: 95px;
  margin-left: -125px; 
  position: absolute; 
}
.canvas-collaborator-submenu-item {
  width: 75px;
  padding: 1px 10px 1px 10px;
  display: inline-block;
  cursor: pointer; 
}
.canvas-collaborator-submenu-item:hover {
  background-color: #666;
}
.canvas-collaborator-submenu-delete{
  padding-right: 10px;
  float: right;
}

menu-body {
  height: 100%;
}
menu-item {
  background-color: #333;
}
.canvas-collaborator-modal-background {
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.canvas-collaborator-modal {
  position: absolute;
  background-color: rgb(255,255,255);
  color: #000;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 100001;
  margin: -150px 0 0 -250px;
  padding: 10px;
}
.canvas-collaborator-modal h2 {
  width: 100%;
  text-align: center;
}
.canvas-collaborator-modal textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  resize: none;
}
.canvas-collaborator-modal input[type=text] {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
.canvas-collaborator-button:hover {
  background-color: #5AF;
  cursor: pointer;
}
.canvas-collaborator-button {
  background-color: #49E;
  border: 1px solid #27A;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  float: left;
}

.chosen-drop ul.chosen-results li.highlighted {
  background-color: #333;
  background-image: none;
}



.radial-progress-container {
  position: relative;
}
.radial-progress-inner {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select2-search__field{
  padding: 5px !important;
  margin: 0px !important;
}
.select2-container--open {
  z-index: 1000001;
}